.footer {
    height: 200px;
    background-color: rgb(211, 211, 211);
}

.footer hr{
    position: relative;
    top:8px;
    margin: auto;
    margin-bottom: 20px;
    width: 60%;
    height: 3px;
}

.footer .companyInfor{
    float: left;
    color:black;
    font-weight: bold;
    width: 40%;
    margin-bottom: 20px;
}

.footer .webCopyright{
    margin-right: 20%;
    float: right;
    color:black;
    font-weight: bold;
    margin-bottom: 20px;
}


.pageChanger{
    margin-bottom:20px;
    margin-top: 10px;
}




.pagination a{
    margin: 0 20px;
    background-color: lightgray;
    color: black;
    font-weight: bold;
}

.pagination a.active {
    background-color: black;
    color: white;
    font-weight: bold;
}


